#content {
    width: 100%;
    height: 1000px;
}

#content .top_menu {
    width: 100%;
    height: 36px;
    border-bottom: 2px solid #FF0036;
}

#content .top_menu .top_menu_con {
    width: 1230px;
    height: 36px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
}

#content .top_menu .category-type {
    width: 200px;
    height: 36px;
    float: left;
    background-color: #FF0036;
}

#content .top_menu .category-type div {
    display: inline-block;
    height: 36px;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
    line-height: 36px;
    color: #ffffff;
}

#content .top_menu .category-type i {
    display: inline-block;
    font-size: 16px;
    margin-left: 14px;
    font-weight: 700;
    line-height: 36px;
}

#content .top_menu .top_menu_con .top_menu_right {
    height: 36px;
    width: 1030px;
    float: right;
}

#content .top_menu .top_menu_con .top_menu_right a {
    float: left;
    height: 35px;
    cursor: pointer;
    padding: 0 8px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    color: #333;
    letter-spacing: normal;
    line-height: 36px;
    position: relative;
}

#content .top_menu .top_menu_con .top_menu_right a img {
    width: 100px;
    height: 30px;
    line-height: 36px;
    margin-top: 3px;
    display: block;
}

#content .pc_banner_wrapper {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

/*菜单导航  start*/
#content .pc_banner_wrapper .nav_menu {
    z-index: 9999;
    width: 1230px;
    height: 106px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#content .pc_banner_wrapper .nav_menu .menu_list {
    height: 500px;
    width: 200px;
    float: left;
    background: rgba(0, 0, 0, 0.27);
}

#content .pc_banner_wrapper .nav_menu .menu_list li {
    height: 31px;
}

#content .pc_banner_wrapper .nav_menu .menu_list li a {
    font-weight: bold;
}

#content .pc_banner_wrapper .nav_menu .menu_list li:hover a {
    text-decoration: none;
}

#content .pc_banner_wrapper .nav_menu .menu_list li i {
    height: 31px;
    font-size: 16px;
    margin-left: 14px;
    margin-right: 6px;
    line-height: 31px;
}

#content .pc_banner_wrapper .nav_menu .menu_list li a {
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

/*菜单导航  end*/

/*二级菜单  start*/
#menu_child .panel_content {
    width: 850px;
    height: 500px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
}

#menu_child .panel_content .panel_content_left {
    width: 630px;
    height: 500px;
}

#menu_child .panel_content .panel_content_left dl {
    display: block;
    border-bottom: 1px dashed #EEE;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

#menu_child .panel_content .panel_content_left dl dt {
    display: block;
    float: left;
    width: 60px;
    text-align: right;
    height: 22px;
    line-height: 22px;
    padding-right: 6px;
}

#menu_child .panel_content .panel_content_left dl dt a {
    display: block;
    color: #e4393c;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
    margin: 12px 0;
}

#menu_child .panel_content .panel_content_left dl dd {
    display: block;
    overflow: hidden;
}

#menu_child .panel_content .panel_content_left dl dd a {
    /* 在此插入CSS样式 */
    display: block;
    color: #737373;
    float: left;
    border-left: 1px solid #CCC;
    font-size: 9pt;
    height: 14px;
    line-height: 14px;
    padding: 0 8px;
    margin: 16px 0;
}

#menu_child .panel_content .panel_content_right {
    width: 220px;
    height: 500px;
    margin-top: -500px;
    float: right;
}

#menu_child .panel_content .panel_content_right .ad_con {
    margin: 10px 10px;
    width: 200px;
    height: 480px;
    background: #cccccc;
}

/*二级菜单  end*/

/* 轮播广告 开始 */
#content .pc_banner_wrapper .carousel {
    height: 500px;
    margin-bottom: 60px;
}

#content .pc_banner_wrapper .carousel .item {
    height: 500px;
    background-color: #000;
}

#content .pc_banner_wrapper .carousel .item img {
    width: 100%;
}

#content .pc_banner_wrapper .carousel-caption {
    z-index: 10;
}

#content .pc_banner_wrapper .carousel-caption p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.8;
}

/* 轮播广告 结束 */

/*section_a start*/
#section_a_title {
    width: 1230px;
    height: 31px;
    right: 0;
    left: 0;
    margin: 10px auto;
}

#section_a_title .section_a_title_left {
    height: 31px;
    width: 214px;
    float: left;
    line-height: 31px;
}

#section_a_title .section_a_title_left img {
    height: 25px;
    width: 214px;
}

#section_a_title .section_a_title_right {
    height: 31px;
    width: 800px;
    float: right;
}

#section_a_title .section_a_title_right a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    float: right;
}

#section_a_con {
    width: 1230px;
    height: 618px;
    margin: 0 auto;
    background: #F5F5F5;
}

#section_a_con .section_a_con_1 {
    width: 235px;
    height: 618px;
    float: left;
}

#section_a_con .section_a_con_1 img {
    display: block;
    width: 100%;
    height: 618px;
}

#section_a_con .section_a_con_2 {
    width: 995px;
    height: 618px;
    float: right;
}

#section_a_con .section_a_con_2 .floor-item-content-wrap {
    float: left;
    width: 234px;
    height: 300px;
    margin-left: 12px;
    margin-bottom: 17px;
    border: 1px solid #fff;
}

/*section_a end*/

#section_b_title {
    width: 1230px;
    height: 31px;
    right: 0;
    left: 0;
    margin: 10px auto;
}

#section_b_title .section_b_title_left {
    height: 31px;
    width: 214px;
    float: left;
    line-height: 31px;
}

#section_b_title .section_b_title_left img {
    height: 25px;
    width: 214px;
}

#section_b_title .section_b_title_right {
    height: 31px;
    width: 800px;
    float: right;
}

#section_b_title .section_b_title_right a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 5px 10px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    float: right;
}

/*section_b start*/
#section_b_con {
    width: 1230px;
    height: 618px;
    margin: 0 auto;
    background: #F5F5F5;
}

#section_b_con .floor-item-content-wrap {
    float: left;
    width: 234px;
    height: 300px;
    margin-right: 12px;
    margin-bottom: 17px;
    border: 1px solid #fff;
}

/*section_b end*/

