.nav {
    height: 32px;
    width: 100%;
    background-color: #F2F2F2;
}

.header {
    height: 130px;
    width: 100%;
    background-color: #00acd6;
}

.header .search {
    width: 1230px;
    height: 106px;
    background-color: red;
    margin: 0 auto;
}

